@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cardText: #1e1d21;

  --ElevatedCardContainerColor: #f7f2fa;
  --ElevatedCardContainerColorDark: #1d1b20;
  --ElevatedCardDisabledContainerColor: #fef7ff;
  --ElevatedCardHoverStateLayerColor: #1d1b20;
  --ElevatedCardContainerSurfaceTintLayerColor: rgb(103, 80, 164);
  --ElevatedCardContainerSurfaceTintLayerColorDark: #d0bcff;
  --ElevatedShadowColor: #000000;

  --saturation: 20%;
  --hue: 180;
  --transition: 0.15s;
  --glow: hsl(var(--hue, 150) 80% 70% / var(--alpha, 1));
  --border-radius: 12px;
  --border-width: calc(var(--thickness) * 1px);
  --active: 0;
  --glow-spread: calc(var(--spread) * 1deg);
}

@layer components {
  .card {
    border-radius: 12px;
    transition-property: box-shadow, opacity;
    transition-duration: 250ms, 150ms;
    transition-timing-function: ease-in-out;
    color: var(--cardText);
  }

  .card:hover {
    box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.5);
  }

  .card:active {
    opacity: 0.8;
  }

  .card.dragged {
    opacity: 0.16;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  }

  .elevated-card {
    background-color: var(--ElevatedCardContainerColor);
  }
}

@layer utilities {
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(71, 60, 108, 0.9);
  min-height: 100svh;
}
